#login
{
  margin-top:100px;
  margin-left:450px;
  border-width:1px;
  border-style: solid;
  width:200px;
  height: 60px;
}
.nao
{

  color:red; 
}
.sim
  {
  border-style: solid;
  border-color:green;               
  color:green; 
  }