.go
{
   font-size: 20px; 
}
th {
    font-size: 10px;

}
#inputtext{

    border-width: 0;
    border: none;
    font-family: arial;
    font-size: 11px;
    text-align: left;

}
#inputtext2{

    border-width: 0;
    border: none;
    font-family: arial;
    font-size: 11px;
    text-align: center;

}
.fonte
{
   font-family: arial;
   font-size: 11px;
   text-align: center;
    
}

.fonte2
{
   font-family: arial;
   font-size: 11px;
   border-style: solid;
   border-width: 1px;
   border-color: black; 
}
fonte3
{
   font-family: arial;
   font-size: 11px;
   border-style: solid;
   border-width: 1px;
   text-align: center; 
}
.botao
{
    
}


td{
    border-style: solid;
    border-color: black;
    border-width: 1px;

}
body
{

}

.headers
{
    font-family: arial;
    font-size:12px;
    font-weight: bold;
    color:red;

}
.subheaders
{
    font-family: arial;
    font-size:12px;
    font-weight: bold;
    color:black;
}

/* INICIO MENU VERTICAL */
#menu {
    width: 200px;
    border-style: solid solid none solid;
    border-color: #94AA74;
    border-size: 1px;
    border-width: 1px;
    margin: 10px;
}

#menu li a {
    height: 32px;
    voice-family: "\"}\""; 
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
}	

#menu li a:link, #menu li a:visited {
    color: #5E7830;
    display: block;
    background: url(menu_vertical.gif);
    padding: 8px 0 0 10px;
}

#menu li a:hover {
    color: #26370A;
    background: url(menu_vertical.gif) 0 -32px;
    padding: 8px 0 0 10px;
}

#menu li a:active {
    color: #26370A;
    background: url(menu_vertical.gif) 0 -64px;
    padding: 8px 0 0 10px;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#cadastro
{
    position:absolute;
    margin-top:20px;
    margin-left:5px;
}
#listagem
{
    position:absolute;
    margin-top:20px;
    margin-left: 300px;
}

/* FIM MENU VERTICAL */      

.tabela_converter
{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}